extends layout

block content
    .container-fluid.mt-3
        .row
            .col-12
                .card
                    .card-header
                        .row
                            .col-6.text-right
                                h5#cpuLoad.mb-0
                                    | CPU: #{Math.floor(cpuLoad)}%

                            .col-6.text-left
                                h5#freeMem.mb-0
                                    | MEM: #{ Math.floor(freeMem)}%
                    .card-body.text-center.p-0
                        canvas#canvasCPU

                    .card-footer.py-3
                        .row
                            .col-4
                                a.btn.btn-success.btn-lg.btn-block(href='/sleep')
                                    i.fas.fa-bed.mr-0.mr-sm-2
                                    span Sleep
                            .col-4
                                a.btn.btn-warning.btn-lg.btn-block(href='/reboot')
                                    i.fas.fa-sync-alt.mr-0.mr-sm-2
                                    span Restart
                            .col-4
                                a.btn.btn-danger.btn-lg.btn-block(href='/die')
                                    i.fas.fa-power-off.mr-0.mr-sm-2
                                    span Power Off
                        .row.mt-3
                            .col-4.col-sm-2.col-md-1
                                div#btnUnMute(class=volume.mute ? '' : 'd-none' )
                                    btn.btn.btn-success.btn-lg.btn-block
                                        i.fas.fa-volume-off
                                div#btnMute(class=volume.mute ? 'd-none' : '' )
                                    btn.btn.btn-danger.btn-lg.btn-block
                                        i.fas.fa-volume-mute


                            .col-8.col-sm-10.col-md-11
                                .h-100.d-flex.align-items-center
                                    input#volumeRange.custom-range(type="range" min="0" max="100" step="1" list="tickmarks" value=volume.level)
                                    datalist#tickmarks
                                        option(value="0" label="0%")
                                        option(value="10")
                                        option(value="20")
                                        option(value="30")
                                        option(value="40")
                                        option(value="50" label="50%")
                                        option(value="60")
                                        option(value="70")
                                        option(value="80")
                                        option(value="90")
                                        option(value="100" label="100%")

    nav.navbar.fixed-bottom.navbar-light.bg-light
        .col-3.text-left#wsPing
            #pingLed.d-inline-block
            span.ml-2#lastWsTime #{clients}
        .col-9.text-right
            span.text-dark.m-0#upTime
                | Uptime: 0d 0h 0m 0s