doctype html
html(lang='en')
    head
        title= title
        meta(charset='utf-8')
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        // Fonts and icons
        link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons')
        link(rel='stylesheet', href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        link(href='/bootstrap.min.css', rel='stylesheet')
        link(href='/noty.css', rel='stylesheet')
        link(href='/bootstrap-v4.css', rel='stylesheet')
        link(href='/style.css', rel='stylesheet')

    body
        block content

        script(src='jquery.min.js', type='text/javascript')
        script(src='bootstrap.bundle.min.js', type='text/javascript')
        script(src='noty.min.js', type='text/javascript')
        script(src='smoothie.js', type='text/javascript')
        script(src='jquery.mousewheel.js', type='text/javascript')
        script(src='jquery-visibility.js', type='text/javascript')

        script(src='alerts.js', type='text/javascript')
        script(src='script.js', type='text/javascript')