$color-green: #009670


#canvasCPU
  margin-bottom: -5px
  width: 100%
  height: calc(50vh - 54px)

#wsPing
  will-change: auto
  #pingLed
    will-change: auto
    width: 10px
    height: 10px
    border-radius: 50%
    background-color: white
    transition: all 100ms linear
  #lastWsTime
    will-change: auto
    color: white
    transition: all 100ms linear

  &.active
    #pingLed
      background-color: $color-green
    #lastWsTime
      color: $color-green

.card-footer
  a
    span
      @media (max-width: 575.98px)
        display: none

body
  padding-bottom: calc(54px + 1rem )