#canvasCPU {
  margin-bottom: -5px;
  width: 100%;
  height: calc(50vh - 54px); }

#wsPing {
  will-change: auto; }
  #wsPing #pingLed {
    will-change: auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    transition: all 100ms linear; }
  #wsPing #lastWsTime {
    will-change: auto;
    color: white;
    transition: all 100ms linear; }
  #wsPing.active #pingLed {
    background-color: #009670; }
  #wsPing.active #lastWsTime {
    color: #009670; }

@media (max-width: 575.98px) {
  .card-footer a span {
    display: none; } }

body {
  padding-bottom: calc(54px + 1rem ); }

/*# sourceMappingURL=style.css.map */
